[Unit]
Description=Battery Monitor Sampler
Requires=mosquitto.service
After=mosquitto.service

[Service]
User=merlin
ExecStart=/opt/dotnet/dotnet /opt/battery-monitor/BatteryMonitorSampler.dll /etc/battery-monitor.json
WorkingDirectory=/opt/solar-sampler
RestartSec=30
Restart=on-failure
SyslogIdentifier=battery-monitor

[Install]
WantedBy=multi-user.target
